[submodule ".config/kak"]
	path = .config/kak
	url = https://github.com/jcomcl/kak.git
[submodule "zshrc"]
	path = zshrc
	url = https://github.com/JCoMcL/zshrc.git
[submodule ".config/mpv/scripts/mpv-cut"]
	path = .config/mpv/scripts/mpv-cut
	url = https://github.com/familyfriendlymikey/mpv-cut.git
